.promo__slider-text {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    color: #4B5A7A;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: -webkit-center;
    height: 100%;
}

@media screen and (max-width: 650px) {
    .promo__slider-text {
        font-size: 26px;
    }
}

@media screen and (max-width: 635px) {
    .promo__slider-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    .promo__slider-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 404px) {
    .promo__slider-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 404px) {
    .promo__slider-text {
        font-size: 12px;
    }
}