@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu-item/header__menu-item.css);
@import url(./blocks/header/__menu-link/header__menu-link.css);
@import url(./blocks/header/__menu-link-active/header__menu-link-active.css);
@import url(./blocks/header/__burger-btn/header__burger-btn.css);
@import url(./blocks/logo-container/logo-container.css);
@import url(./blocks/main/main.css);

/* INTRO */
@import url(./blocks/intro/intro.css);
@import url(./blocks/intro/__image/intro__image.css);
@import url(./blocks/intro/__container/intro__container.css);
@import url(./blocks/intro/__title/intro__title.css);
@import url(./blocks/intro/__subtitle/intro__subtitle.css);
@import url(./blocks/intro/__image-oval/intro__image-oval.css);
@import url(./blocks/intro/__catalog/intro__catalog.css);
@import url(./blocks/intro/__catalog-link/intro__catalog-link.css);
@import url(./blocks/intro/__catalog-text/intro__catalog-text.css);

/* FOOTER */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/* BURGER */
@import url(./blocks/burger/burger.css);
@import url(./blocks/burger/_opened/burger_opened.css);
@import url(./blocks/burger/__header/burger__header.css);
@import url(./blocks/burger/__close-btn/burger__close-btn.css);
@import url(./blocks/burger/__menu/burger__menu.css);
@import url(./blocks/burger/__menu-item/burger__menu-item.css);
@import url(./blocks/burger/__menu-list/burger__menu-list.css);
@import url(./blocks/burger/__menu-link/burger__menu-link.css);
@import url(./blocks/burger/__menu-link-active/burger__menu-link-active.css);
@import url(./blocks/burger/__contacts/burger__contacts.css);
@import url(./blocks/burger/__contacts-list/burger__contacts-list.css);
@import url(./blocks/burger/__contacts-link/burger__contacts-link.css);
@import url(./blocks/burger/__contacts-icon/burger__contacts-icon.css);

/* PROMO */
@import url(./blocks/promo/promo.css);
@import url(./blocks/promo/__title/promo__title.css);
@import url(./blocks/promo/__container/promo__container.css);
@import url(./blocks/promo/__image/promo__image.css);
@import url(./blocks/promo/__card/promo__card.css);
@import url(./blocks/promo/__slider/promo__slider.css);
@import url(./blocks/promo/__slider-img/promo__slider-img.css);
@import url(./blocks/promo/__discription/promo__discription.css);
@import url(./blocks/promo/__slider-text/promo__slider-text.css);
@import url(./blocks/promo/__slider-dots/promo__slider-dots.css);

/* INDEX-CATALOG */
@import url(./blocks/index-catalog/index-catalog.css);
@import url(./blocks/index-catalog/__container/index-catalog__container.css);
@import url(./blocks/index-catalog/__link-container/index-catalog__link-container.css);
@import url(./blocks/index-catalog/__link-text/index-catalog__link-text.css);
@import url(./blocks/index-catalog/__link/index-catalog__link.css);
@import url(./blocks/index-catalog/__title/index-catalog__title.css);
@import url(./blocks/slider/slider.css);

/* ADVANTAGE */
@import url(./blocks/advantage/advantage.css);
@import url(./blocks/advantage/__container/advantage__container.css);
@import url(./blocks/advantage/__container-ferst/advantage__container-ferst.css);
@import url(./blocks/advantage/__image-ferst/advantage__image-ferst.css);
@import url(./blocks/advantage/__image/advantage__image.css);
@import url(./blocks/advantage/__container-content/advantage__container-content.css);
@import url(./blocks/advantage/__content-ferst/advantage__content-ferst.css);
@import url(./blocks/advantage/__content/advantage__content.css);
@import url(./blocks/advantage/__title/advantage__title.css);
@import url(./blocks/advantage/__text/advantage__text.css);
@import url(./blocks/advantage/__text-quote/advantage__text-quote.css);
@import url(./blocks/advantage/__link/advantage__link.css);
@import url(./blocks/advantage/__link-text/advantage__link-text.css);
@import url(./blocks/video/video.css);
@import url(./blocks/video-container/video-container.css);

/* CATALOG-PAGE */
@import url(./blocks/nav-intro/nav-intro.css);
@import url(./blocks/nav-intro/__breadcrumb-divider/nav-intro__breadcrumb-divider.css);
@import url(./blocks/nav-intro/__container/nav-intro__container.css);
@import url(./blocks/nav-intro/__item/nav-intro__item.css);
@import url(./blocks/nav-intro/__link-active/nav-intro__link-active.css);
@import url(./blocks/nav-intro/__link/nav-intro__link.css);
@import url(./blocks/nav-intro/__links/nav-intro__links.css);
@import url(./blocks/cards/cards.css);

/* ABOUT-PAGE */
@import url(./blocks/about/about.css);
@import url(./blocks/about/__title/about__title.css);
@import url(./blocks/about/__img-intro/about__img-intro.css);
@import url(./blocks/about/__text-intro/about__text-intro.css);
@import url(./blocks/about/__description/about__description.css);
@import url(./blocks/about/__container/about__container.css);
@import url(./blocks/about/__container-img/about__container-img.css);
@import url(./blocks/about/__container-description/about__container-description.css);
@import url(./blocks/about/__img/about__img.css);
@import url(./blocks/about/__text/about__text.css);
@import url(./blocks/about/__container-text/about__container-text.css);
@import url(./blocks/about/__video-container/about__video-container.css);

/* CARD-PAGE */
@import url(./blocks/link-intro/link-intro.css);
@import url(./blocks/link-intro/__container/link-intro__container.css);
@import url(./blocks/link-intro/__logo/link-intro__logo.css);
@import url(./blocks/link-intro/__text/link-intro__text.css);
@import url(./blocks/card-content/card-content.css);
@import url(./blocks/card-content/__slider/card-content__slider.css);
@import url(./blocks/card-slider/card-slider.css);
@import url(./blocks/card-content/__discription/card-content__discription.css);
@import url(./blocks/card-content/__title/card-content__title.css);
@import url(./blocks/card-content/__price-container/card-content__price-container.css);
@import url(./blocks/card-content/__price/card-content__price.css);
@import url(./blocks/card-content/__price-currency/card-content__price-currency.css);
@import url(./blocks/card-content/__size/card-content__size.css);
@import url(./blocks/card-content/__size-link/card-content__size-link.css);
@import url(./blocks/card-content/__subtitle/card-content__subtitle.css);
@import url(./blocks/card-content/__size-items/card-content__size-items.css);
@import url(./blocks/card-content/__size-item/card-content__size-item.css);
@import url(./blocks/card-content/__season-container/card-content__season-container.css);
@import url(./blocks/card-content/__season/card-content__season.css);
@import url(./blocks/card-content/__season-text/card-content__season-text.css);
@import url(./blocks/card-content/__about/card-content__about.css);
@import url(./blocks/card-content/__about-text/card-content__about-text.css);
@import url(./blocks/card-content/__btn-container/card-content__btn-container.css);
@import url(./blocks/card-content/__btn/card-content__btn.css);

@import url(./blocks/order/order.css);
@import url(./blocks/support/support.css);
@import url(./blocks/index-contacts/index-contacts.css);
@import url(./blocks/fond/fond.css);