@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

html {
    scroll-behavior: smooth;
}

.page {
    max-width: 390px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #DADADA;
}

.header__logo {
    display: flex;
    margin-top: 5px;
}

.header__logo-img {
    height: 70px;
}

.header__burger-btn {
    all: unset;
    background: url(./images/icon-burger.svg) no-repeat center;
    width: 40px;
    height: 40px;
}

.lang-buttons {
    display: flex;
    column-gap: 10px;
    margin-left: 100px;
}

.lang-button {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    color: #000;
}

.lang-button_active {
    border-bottom: 1px solid black;
}

/* INTRO */

.intro {
    margin-top: 60px;
}

.intro__title {
    color: #4B5A7A;
    text-align: center;
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 81.818% */
    text-transform: uppercase;
}

.intro__subtitle {
    margin: 0;
    margin-top: 19px;
    color: #2B2A29;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    /* 138.667% */
    text-transform: uppercase;
}

.intro__image-oval {
    display: block;
    margin: auto;
    margin-top: 30px;
    object-fit: cover;
    width: 215px;
    height: 170px;
    max-width: 215px;
    border-radius: 100px / 85px;
}

.intro__catalog {
    display: flex;
    padding-top: 40px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: flex-start;
}

.intro__catalog-link {
    text-decoration: none;
    display: flex;
    padding: 2px 6px 6px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2B2A29;
}

.intro__catalog-text {
    margin: 0;
    color: #2B2A29;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    /* 107.692% */
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

.intro__image {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.intro__image-pctr {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* FOOTER */

.footer {
    margin-top: 80px;
    max-width: 390px;
    min-height: 240px;
    padding: 60px 15px 40px 15px;
    background: #38527A;
    color: #fff;
}

.footer__title {
    margin: 0;
}

.footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer__menu-column {
    padding: 10px;
}

.footer__menu-title {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    /* 130% */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__menu-item {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu-links {
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer__menu-links:first-child {
    margin-top: 0;
}

.footer__menu-links:last-child {
    margin-bottom: 0;
}


.footer__menu-link {
    color: #FFF;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 11px;
    /* 100% */
    letter-spacing: 0.22px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__menu-link:hover {
    text-decoration: underline;
}

.footer__copyright {
    color: #99A3B8;
    font-size: 14px;
    line-height: 17px;
}