.header__lang {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__lang-divider {
    color: #BDBDBD;
    user-select: none;
}

.header__lang--compact {
    display: none;
}

@media screen and (max-width: 980px) {
    .header__lang--compact {
        display: flex;
        margin-left: auto;
        margin-right: 40px; /* расстояние до бургер-кнопки */
    }
}

.header__lang--desktop {
    display: flex;
}

@media screen and (max-width: 980px) {
    .header__lang--desktop {
        display: none;
    }
}


