.table {
    display: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    opacity: 0;
    transition: 1s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: .1s;
    margin-bottom: 20px;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


th,
td:first-child {
    background: #38527A;
    color: white;
    padding: 10px 20px;
}

th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

.support__title {
    color: #4B5A7A;
    text-align: center;
    font-size: 55px;
    font-weight: 400;
    line-height: 55px;
    text-transform: uppercase;
    margin: 40px 0 60px;
}

.support-block__title {
    color: #4B5A7A;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.support-block {
    max-width: 760px;
    margin: 0 auto;
    margin-top: 40px;
}

.support-block__container {
    border-bottom: 1px solid #DADADA;
}

.support-block__subtitle {
    padding: 20px 0;
    color: #2b2a29;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}

.support-block__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.support__text {
    font-size: 18px;
    line-height: 1.4;
    color: #2b2a29;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.support-block__consultation {
    display: flex;
    gap: 100px;
    margin-top: 40px;
}

.support-block__consultation-title {
    font-size: 13px;
    line-height: 1;
    color: #99a3b8;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.support-block__links {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    width: 40%;
}

.support-block__link-text {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

.support-block__link {
    text-decoration: none;
    color: #2B2A29;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

.support-block__link:hover {
    color: #38527A;
    border-bottom: 1px solid rgb(56, 82, 122);
}

.support-block__time {
    margin-top: 15px;
}

.support-block__time-text {
    color: #2b2a29;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}

.support-block__consultation-subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
}

.icon-support {
    display: inline-block;
    transition: transform 0.5s ease;
    /* Плавная анимация поворота за 0.5 секунд */
}

.icon-support.rotate {
    transform: rotate(180deg);
    /* Поворот на 180 градусов */
}

.support-block__consultation-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 45%;
}

.map-stambul {
    margin-top: 60px;
    height: 300px;
}

@media screen and (max-width: 820px) {
    .support-block {
        padding: 0 20px;
    }

    .support__title {
        font-size: 45px;
        line-height: 45px;
        margin: 30px 0 50px;
    }

    .support-block__title {
        font-size: 26px;
        line-height: 29px;
        letter-spacing: -0.8px;
        margin-bottom: 25px;
    }

    .support__text {
        font-size: 17px;
        line-height: 1.35;
    }

    .support-block__consultation-title {
        font-size: 12px;
    }

    .support-block__consultation-subtitle {
        font-size: 17px;
        line-height: 1.35;
    }
}

@media screen and (max-width: 630px) {
    .table {
        font-size: 9px;
    }

    th,
    td:first-child {
        padding: 6px 12px;
    }
}

@media screen and (max-width: 460px) {
    .support-block__consultation {
        flex-direction: column;
        gap: 27px;
        margin-top: 30px;
    }

    .support-block__consultation-title {
        font-size: 11px;
    }

    .support-block__links {
        display: flex;
        gap: 30px;
        width: 100%;
    }

    .support-block__link-text {
        font-size: 14px;
    }

    .support-block__link {
        font-size: 14px;
        padding-bottom: 3px;
    }

    .support-block__time-text {
        font-size: 14px;
    }

    .support-block__consultation-subtitle {
        font-size: 16px;
    }

    .support-block__consultation-container {
        gap: 27px;
        width: 100%;
    }

    .support-block__consultation-container2 {
        flex-direction: row;
    }

    .map-stambul {
        margin-top: 40px;
        height: 250px;
    }
}

@media screen and (max-width: 420px) {
    .table {
        font-size: 8px;
    }

    th,
    td:first-child {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 360px) {
    .table {
        font-size: 7px;
    }

    th,
    td:first-child {
        padding: 4px 8px;
    }

    .support-block__links {
        gap: 20px;
    }

    .map-stambul {
        margin-top: 30px;
        height: 200px;
    }
}