.card-content__size-item {
    list-style-type: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DADADA;
    border-radius: 3px;
    color: #2B2A29;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

.card-content__size-item-none {
    position: relative;
    opacity: 0.4;
}

.card-content__size-item-none::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: translateY(-50%) rotate(-45deg);
}


@media screen and (max-width: 450px) {
    .card-content__size-item {
        width: 45px;
        height: 42px;
        font-size: 13px;
        line-height: 13px;
    }
}

@media screen and (max-width: 380px) {
    .card-content__size-item-numbers {
        height: 38px;
    }
}

@media screen and (max-width: 350px) {
    .card-content__size-item-numbers {
        height: 35px;
        font-size: 12px;
    }
}