.card-content__price-container {
    margin-top: 50px;
}

.card-content__price-container-block {
    display: flex;
    gap: 15px;
}

@media screen and (max-width: 420px) {
    .card-content__price-container {
        margin-top: 40px;
        padding: 0 20px;
    }

    .card-content__price-container-block {
        gap: 10px;
    }
}