<div class="slider-wrapper">
    <button id="prev-slide" class="slide-button material-symbols-rounded">
        chevron_left
    </button>
    <ul class="image-list">
        <div class="image-item-container">
            <a href="./catalog.html">
                <img class="image-item-all" src="../images/logo.png" alt="Tümünü gör" />
                <div class="image-caption">Tümünü gör</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-sale.html">
                <img class="image-item" src="../images/sale.jpg" alt="İndirimler" />
                <div class="image-caption">İndirimler</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-uniform.html">
                <img class="image-item" src="../images/img3.jpg" alt="Formalar" />
                <div class="image-caption">Formalar</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-khamis.html">
                <img class="image-item" src="../images/kamis-blue.jpg" alt="Kamisler" />
                <div class="image-caption">Kamisler</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-pants.html">
                <img class="image-item" src="../images/pants-summer-blue.jpg" alt="Pantolonlar" />
                <div class="image-caption">Pantolonlar</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-shirts.html">
                <img class="image-item" src="../images/shirt-green.jpg" alt="Gömlekler" />
                <div class="image-caption">Gömlekler</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-t-shirts.html">
                <img class="image-item" src="../images/t-shirt-white.jpg" alt="Tişörtler" />
                <div class="image-caption">Tişörtler</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-sleeveless.html">
                <img class="image-item" src="../images/img8.jpg" alt="Yelekler" />
                <div class="image-caption">Yelekler</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-shoes.html">
                <img class="image-item" src="../images/img7.jpg" alt="Ayakkabı" />
                <div class="image-caption">Ayakkabı</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-kids.html">
                <img class="image-item" src="../images/img9.jpg" alt="Çocuk giyim" />
                <div class="image-caption">Çocuk giyim</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-accessories.html">
                <img class="image-item" src="../images/wallet.jpg" alt="Aksesuarlar" />
                <div class="image-caption">Aksesuarlar</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-hats.html">
                <img class="image-item" src="../images/img10.jpg" alt="Şapkalar" />
                <div class="image-caption">Şapkalar</div>
            </a>
        </div>
        <div class="image-item-container">
            <a href="./catalog-swim-shorts.html">
                <img class="image-item" src="../images/img11.jpg" alt="Yüzme şortları" />
                <div class="image-caption">Yüzme şortları</div>
            </a>
        </div>
    </ul>
    <button id="next-slide" class="slide-button material-symbols-rounded">
        chevron_right
    </button>
</div>
<div class="slider-scrollbar">
    <div class="scrollbar-track">
        <div class="scrollbar-thumb"></div>
    </div>
</div>
