/* .promo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 50px 0 0;
    margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
    .promo {
        margin-top: 80px;
    }
}

@media screen and (max-width: 760px) {
    .promo {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
}

@media screen and (max-width: 420px) {
    .promo {
        padding-top: 60px;
        margin-top: 20px;
    }
} */