<h2 class="index-catalog__title">Каталог</h1>
    <div class="index-catalog__container">
        <div class="slider-wrapper">
            <button id="prev-slide" class="slide-button material-symbols-rounded">
                chevron_left
            </button>
            <ul class="image-list">
                <div class="image-item-container">
                    <a href="./catalog.html">
                        <img class="image-item-all" src="images/logo.png" alt="img-1" />
                        <div class="image-caption">Смотреть все</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-sale.html">
                        <img class="image-item" src="images/sale.jpg" alt="img-9" />
                        <div class="image-caption">Скидки</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-uniform.html">
                        <img class="image-item" src="images/img3.jpg" alt="img-3" />
                        <div class="image-caption">Формы</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-khamis.html">
                        <img class="image-item" src="images/kamis-blue.jpg" alt="камис ADAB" />
                        <div class="image-caption">Камисы</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-pants.html">
                        <img class="image-item" src="images/pants-summer-blue.jpg" alt="штаны ADAB" />
                        <div class="image-caption">Штаны</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-shirts.html">
                        <img class="image-item" src="images/shirt-green.jpg" alt="img-4" />
                        <div class="image-caption">Рубашки</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-t-shirts.html">
                        <img class="image-item" src="images/t-shirt-white.jpg" alt="img-4" />
                        <div class="image-caption">Футболки</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-sleeveless.html">
                        <img class="image-item" src="images/img8.jpg" alt="img-6" />
                        <div class="image-caption">Безрукавки</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-shoes.html">
                        <img class="image-item" src="images/img7.jpg" alt="img-7" />
                        <div class="image-caption">Обувь</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-kids.html">
                        <img class="image-item" src="images/img9.jpg" alt="img-8" />
                        <div class="image-caption">Детская одежда</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-hats.html">
                        <img class="image-item" src="images/img10.jpg" alt="img-9" />
                        <div class="image-caption">Головные уборы</div>
                    </a>
                </div>
                <div class="image-item-container">
                    <a href="./catalog-swim-shorts.html">
                        <img class="image-item" src="images/img11.jpg" alt="img-10" />
                        <div class="image-caption">Шорты для плавания</div>
                    </a>
                </div>
            </ul>
            <button id="next-slide" class="slide-button material-symbols-rounded">
                chevron_right
            </button>
        </div>
        <div class="slider-scrollbar">
            <div class="scrollbar-track">
                <div class="scrollbar-thumb"></div>
            </div>
        </div>
    </div>
    <div class="index-catalog__link-container">
        <a href="./catalog.html" class="index-catalog__link">
            <p class="index-catalog__link-text">Смотреть всю коллекцию</p>
        </a>
    </div>