.index-catalog__link-text {
    color: #2B2A29;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-width: 420px) {
    .index-catalog__link-text {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.28px;
    }
}