.about__title {
    margin: 0;
    color: #4B5A7A;
    text-align: center;
    font-size: 55px;
    font-weight: 400;
    line-height: 55px;
    text-transform: uppercase;
}

.about__title-has {
    display: none;
}

@media screen and (max-width: 1030px) {
    .about__title {
        font-size: 50px;
        line-height: 50px;
    }
}

@media screen and (max-width: 940px) {
    .about__title {
        font-size: 45px;
        line-height: 45px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 750px) {
    .about__title-has {
        display: block;
    }
}

@media screen and (max-width: 460px) {
    .about__title {
        font-size: 35px;
        line-height: 35px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 380px) {
    .about__title-has {
        display: none;
    }
}