.f-wrapper {
    display: flex;
    justify-content: center;
}

.f-wrapper-container {
    display: flex;
    flex-direction: column;
}

.fond__container-wrapper {
    display: flex;
    margin: 0 10px;
}

.fond__container-wrapper-first {
    margin-top: 100px;
}

.fond__container-contacts {
    display: flex;
    gap: 250px;
}

.fond__contacts {
    display: flex;
    flex-direction: column;
}

.fond-contacts {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.fond__doc {
    display: flex;
    flex-direction: column;
}

.fond__doc-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.fond__doc-list {
    list-style-type: none;
}

.fond__image {
    background-image: url(../../images/fond3.jpg);
    background-size: cover;
    width: 40%;
    min-height: 450px;
}

.fond__container-promo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 50px 0 0;
    margin-bottom: 100px;
}

.fond__promo-title {
    margin: 0;
    color: #4B5A7A;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: -webkit-center;
    height: 100%;
}

.fond__promo {
    width: 60%;
    padding-right: 60px;
    padding-left: 60px;
    margin: auto;
}

.fond__link {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s linear;
}

.fond__link:hover {
    opacity: .7;
}

.fond__text {
    color: #2B2A29;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 15px 25px 0 10px;
}

.fond__description {
    margin: 0;
    padding-right: 25px;
    color: #4B5A7A;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.9px;
}

.fond__container-img {
    width: 45%;
    background-image: url(../../images/fond1.jpg);
    background-size: cover;
}

.fond__title {
    margin: 0;
    color: #4B5A7A;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
}

.fond__container {
    margin: 160px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.fond__container-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 50px;
}

.fond__container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 0;
    gap: 30px;
}

.fond__contacts-text {
    font-size: 15px;
    font-weight: 500;
}


.requisites-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.requisites-list li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    /* color: #555; */
}

.requisites-list li:last-child {
    border-bottom: none;
}

.requisites-list strong {
    color: #000;
    font-weight: 600;
}

.fond__requisites {
    display: flex;
    gap: 250px;
}

.qr-code {
    text-align: center;
    flex-shrink: 0;
}

.qr-code img {
    width: 150px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.fond__payment-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card-number {
    text-align: center;
    background-color: #dcedee;
    /* Светло-зеленый фон */
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1310px) {
    .fond__container-text-first {
        margin-top: 0;
    }
}

@media screen and (max-width: 1150px) {
    .fond__image {
        display: none;
    }
}

@media screen and (max-width: 1030px) {
    .fond__container {
        margin: 140px 0;
    }
}

@media screen and (max-width: 1024px) {
    .fond__promo {
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .fond__container-contacts {
        gap: 150px;
    }

    .fond__requisites {
        gap: 150px;
    }

}

@media screen and (max-width: 940px) {
    .fond__text {
        font-size: 15px;
        line-height: 24px;
        padding: 0;
    }

    .fond__container-first {
        margin-top: 80px;
        flex-direction: column-reverse;
    }

    .fond__container-wrapper-first {
        margin-top: 80px;
    }

    .fond__container-text-first {
        margin: 0 auto;
        width: 80%;
    }

    .fond__container-description-first {
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        align-items: start;
        padding-left: 0;
    }

    .fond__video-container {
        width: 80%;
        margin: 0 auto;
        margin-top: 60px;
    }

    .fond__container {
        margin: 120px 20px;
        flex-direction: column-reverse;
    }

    .fond__container-img {
        background-image: url(../../images/fond.jpg);
        width: 100%;
        min-height: 800px;
        margin-top: 60px;
    }

    .fond__container-description {
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        align-items: start;
        padding-left: 0;
    }

    .fond__container-text {
        width: 80%;
        margin: 0 auto;
    }

    .fond__container-contacts {
        gap: 100px;
    }

    .fond__requisites {
        gap: 100px;
    }

}

@media screen and (max-width: 860px) {
    .fond__container {
        margin-top: 80px;
    }

    .fond__container-contacts {
        gap: 50px;
    }

    .fond__requisites {
        gap: 50px;
    }
}

@media screen and (max-width: 820px) {
    .fond__promo {
        width: 100%;
        padding: 0 20px;
    }

    .fond__container {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (max-width: 780px) {
    .fond__title {
        font-size: 30px;
        line-height: 40px;
    }

    .fond__description {
        padding: 0;
        font-size: 20px;
        line-height: 30px;
    }

    .fond__container-contacts {
        flex-direction: column;
    }

    .fond__requisites {
        flex-direction: column;
    }
}


@media screen and (max-width: 650px) {
    .fond__promo-title {
        font-size: 26px;
    }

    .fond__title {
        font-size: 26px;
        line-height: 36px;
    }
}

@media screen and (max-width: 635px) {
    .fond__promo-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    .fond__promo-title {
        font-size: 18px;
    }

    .fond__container-img {
        min-height: 600px;
    }

    .fond-contacts {
        gap: 10px;
    }
}

@media screen and (max-width: 460px) {
    .fond__text {
        font-size: 14px;
        line-height: 23px;
    }

    .fond__title {
        font-size: 20px;
        line-height: 28px;
    }

    .fond__description {
        font-size: 14px;
        line-height: 24px;
    }

    .fond__container-description {
        flex-direction: column;
    }

    .fond__container-text {
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .fond__contacts-text {
        font-size: 14px;
    }

    .requisites-list li {
        font-size: 14px;
    }

    .fond__container-first {
        margin-top: 40px;
        margin-bottom: 0;
    }

    .fond__video-container {
        margin-top: 40px;
    }

    .fond__container {
        margin-top: 40px;
        margin-bottom: 60px;
        padding-top: 0;
    }

    .fond__container-img {
        margin-top: 40px;
    }
}

@media screen and (max-width: 420px) {
    .fond-contacts {
        flex-direction: column;
        align-items: normal;
    }

    .fond__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 410px) {
    .fond__container-img {
        min-height: 400px;
    }
}