.card-content__season-container {
    margin-top: 38px;
    max-width: fit-content;
}

@media screen and (max-width: 768px) {
    .card-content__season-container {
        margin-top: 33px;
    }
}

@media screen and (max-width: 420px) {
    .card-content__season-container {
        margin-top: 28px;
        padding: 0 20px;
    }
}

