.promo__card {
    width: 60%;
    padding-left: 60px;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .promo__card {
        width: 80%;
        padding-left: 20px;
    }
}

@media screen and (max-width: 820px) {
    .promo__card {
        width: 100%;
        padding-left: 0;
    }
}