.promo__title {
    color: #4B5A7A;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0;
    padding-left: 60px;
}

@media screen and (max-width: 1024px) {
    .promo__title {
        font-size: 38px;
        line-height: 42px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 760px) {
    .promo__title {
        font-size: 35px;
        line-height: 38px;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 420px) {
    .promo__title {
        font-size: 30px;
        line-height: 33px;
        padding-bottom: 30px;
    }
}