.promo__container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0;
    margin-bottom: 100px;
}

@media screen and (max-width: 760px) {
    .promo__container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 420px) {
    .promo__container {
        padding-top: 60px;
    }
}